* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.forgot-page {
  width: 100%;
  min-height: 100vh;

  background-image: url("../assets/pizza-bg.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  padding-left: 80px;

  position: relative;
}

.forgot-page::before {
  content: "";

  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.55);
}

.forgot-content {
  position: relative;
  z-index: 1;

  width: 500px;
}

.forgot-title {
  color: white;
  font-size: 4rem;
  font-weight: bold;

  line-height: 1.1;

  margin-bottom: 10px;
}

.forgot-subtitle {
  color: #d62828;
  font-size: 1.5rem;

  margin-bottom: 30px;
}

.forgot-card {
  width: 400px;

  background: rgba(15, 15, 15, 0.92);

  padding: 30px;

  border-radius: 20px;

  border: 1px solid rgba(255,255,255,0.1);

  backdrop-filter: blur(8px);

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-logo {
  width: 110px;
  margin: 0 auto;
}

.forgot-card h2 {
  color: white;
  text-align: center;
}

.forgot-card p {
  color: #bbb;
  text-align: center;
}

.forgot-card input {
  width: 100%;

  padding: 14px;

  background: #111;

  color: white;

  border: 1px solid #333;

  border-radius: 10px;
}

.forgot-btn {
  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 10px;

  background: #d62828;

  color: white;

  cursor: pointer;

  font-size: 16px;
}

.forgot-btn:hover {
  background: #b71c1c;
}

.forgot-message {
  color: white;
  text-align: center;
}